<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>attention</title>
    <style>
        .main{
            text-align: center;
        }
        p{
            color: yellow;
        }
    </style>
</head>
<body background="../static/images/b3.jpg">
    <div class="main">
        <h1>请注意需要按照以下表格形式上传表格！！！</h1>
        <div>
            <p>菜品表格请按照以下图片进行修改上传（列名必须一致）</p>
            <img src="../static/images/dishes.jpg" alt="dishes">
        </div>
        <div>
            <p>订单表格请按照以下图片进行修改上传（列名必须一致）</p>
            <img src="../static/images/order.jpg" alt="order">
        </div>
    </div>
</body>
</html>