<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>餐饮数据分析</title>
    <style>
        body{
            text-align: center;
        }
    </style>
</head>
<body background="../static/images/b3.jpg">
<h2 class="top_text">欢迎您使用本网站进行餐饮数据分析</h2>
    <div>
        <form  action="" method="post" id ="fileUpdate-form" enctype="multipart/form-data">
            {% csrf_token %}
            <p>请上传需要进行分析的表格文件:(必须按照规定的格式上传)</p>
            <input type="file" name="excel">
            <input type="submit" value="上传">
        </form>
    </div>
</body>
</html>